<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quia
        obcaecati dolore sequi ipsa praesentium doloremque asperiores iusto,
        nisi soluta harum numquam unde, provident nemo fugiat odio quam
        suscipit? Est?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quia
        obcaecati dolore sequi ipsa praesentium doloremque asperiores iusto,
        nisi soluta harum numquam unde, provident nemo fugiat odio quam
        suscipit? Est?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quia
        obcaecati dolore sequi ipsa praesentium doloremque asperiores iusto,
        nisi soluta harum numquam unde, provident nemo fugiat odio quam
        suscipit? Est?
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
